body{
    text-align: center;
    background-image: url(../images/newbg.jpg);
}

#headerSection{
    padding: 10px;
}
  

#headerSection h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
    font-weight: bold;
}

#loginbtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0a3d62;
    color: aliceblue;
    font-weight: bold;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

#loginbtn:hover{
    color: black;
}
#Profile{
    text-align: left;
    background-color: rgb(56, 97, 127);
    width: 30%;
    font-size: 20px;
    padding: 30px;
    color: aliceblue;
    float: left;
}
#Group{
    text-align: left;
    background-color: rgb(56, 97, 127);
    width: 60%;
    font-size: 20px;
    padding: 30px;
    color: aliceblue;
    float: right;
}
#vbutton{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0a3d62;
    color: aliceblue;
    font-weight: bold;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    float: left;
}
#v{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: antiquewhite;
    color: red;
    font-weight: bold;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    float: left;
}